.listTitle {
    text-align: left;
}

.searchInputContainer {
    margin: 5px;
    margin-bottom: 20px;
}

.largeInput {
    width: 100%;
    font-size: 36px;
    padding: 0px 5px;
}

div#ownerList {
    min-width: 500px;
    width: 90%;
}

.container {
    text-align: center;
}

h1 {
    text-align: left;
}

p.tableHeaderText {
    display: inline-block;
    font-weight: bold;
}

p.resultValueText {
    display: inline-block;
}

/* https://stackoverflow.com/questions/6865194/fluid-width-with-equally-spaced-divs/6880421 */
.tableHeader {
    text-align: justify;
    padding: 0px 10px;
    text-align: center;
}

/* https://stackoverflow.com/questions/26023319/distribute-divs-evenly-in-a-horizontal-line */
.tableText {
    width: calc(92% / 4);
}

.singleResult {
    padding: 0px 5px;
    box-shadow: 1px 1px 4px 2px #BDBDBF;
}

#ownerActionButtonSpacer {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.iconButton {
    display: contents;
}

.ownerActionIcon {
    height: 40px;
    padding: 10px 5px;
}

.ditOwnerIcon {
    transform: rotate(90deg);
}