.list {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-shadow: 5px 5px 5px lightgray;
    background: #F0F1F2;
    margin: 25px 0px;
}

p {
    height: fit-content;
    padding: 5px;
    margin: 0;
}

.listItem {
    margin: 5px 5px 15px 5px;
    padding: 5px;
    background: #E3E4E6;
    box-shadow: 2px 2px 4px lightgray;
}

.inputContainer > * {
    display: inline-block;
}

.text-box {
    padding: 0px 5px;
    margin: 2px 0px;
    height: 31px;
    grid-column-start: 2;
}

.inputContainer {
    justify-content: left;
    vertical-align: bottom;
    display: grid;
    margin: 5px 0px;
    grid-template-columns: 1fr 2fr;
}

.inputLabel {
    margin-right: 10px;
}

.listTitle {
    margin: 0px 6px;
}

.btnAddListItemContainer {
    text-align: center;
}

.btnAddListItem {
    width: 100%;
    border-color: #9D9D9E;
    border-style: dashed;
    height: 100%;
    background: #DCDCDE;
    color: #5D5E5E;
    border-radius: 3px;
}

.btnAddListItem:focus {
    outline: none;
    border-color: #5D5E5E;
    border-width: 2px;
    border-style: dashed;
    color: #424242;
    box-shadow: 1px 1px 5px #D2D2D4;
} 