.list {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-shadow: 5px 5px 5px lightgray;
    background: #F0F1F2;
}

p {
    height: fit-content;
    padding: 5px;
    margin: 0;
}

.listItem {
    margin: 5px 5px 15px 5px;
    padding: 5px;
    background: #E3E4E6;
    box-shadow: 2px 2px 4px lightgray;
}

.inputContainer > * {
    display: inline-block;
}

.text-box {
    padding: 0px 5px;
    float: right;
}

.inputContainer {
    justify-content: left;
    vertical-align: bottom;
}

.inputLabel {
    margin-right: 10px;
}
