.interactiveList {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-shadow: 5px 5px 5px lightgray;
    background: #F0F1F2;
}

p {
    height: fit-content;
    padding: 5px;
    margin: 0;
}

.interactiveListItem {
    margin: 5px 5px 15px 5px;
    padding: 5px;
    background: #E3E4E6;
    box-shadow: 2px 2px 4px lightgray;
}

.inputContainer > * {
    display: inline-block;
}

.text-box {
    padding: 0px 5px;
    margin: 2px 0px;
    height: 31px;
    grid-column-start: 2;
}

.inputContainer {
    justify-content: left;
    vertical-align: bottom;
    display: grid;
    margin: 5px 0px;
    grid-template-columns: 1fr 2fr;
}

.inputLabel {
    margin-right: 10px;
}

input.textBox {
    grid-column: 2;
}

input {
    grid-column-start: 2;
}
