#ticketCtr {
    min-width: 700px;
    width: 90%;
}

.descriptionInput {
    min-height: 150px;
}

datalist > option {
    display: none;
}

textarea {
    padding: 2px 5px
}

input#ownerInput {
    padding: 2px 5px;
}

button#btnSubmit {
    width: 100%;
    border-color: #9D9D9E;
    border-style: solid;
    height: 100%;
    background: #EBECED;
    color: #5D5E5E;
    border-radius: 3px;
}

.btnSubmitCtr {
    margin: 5px;
}