.ticketList {
    height: fit-content;
    padding: 5px;
    box-shadow: 2px 3px 5px 2.5px lightgrey;
    background: #F0F1F2;
    margin: 25px 0px;
}

.tableRow {
    background: #E3E4E6;
    box-shadow: 1px 2px 4px 2px lightgrey;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: box-shadow .15s;
}

.tableRow:hover {
    box-shadow: 1px 1.5px 4px 3px hsla(0, 0%, 78%, 1);
}

p.tableHeaderText {
    font-weight: bold;
    margin: 0px;
}

p.tableBodyText {
    margin: 0px;
}

.rowItem {
    width: calc(100% / 6);
    display: inline-block;
}

.tableHeaderTextContainer {
    margin: 5px 15px 0px;
}

.checkboxCtr {
    width: 20px;
}

.ticketBtnContainer {
    width: 100px;
}

#checkboxSpacer {
    width: 20px;
}

#buttonSpacer {
    width: 100px;
}

.listHeaderItem {
    display: inline-block;
}

.headerBtnContainer {
    float: right;
    text-align: right;
}

.listHeader {
    margin: 0px 5px;
}

button#newTicket {
    display: inline-block;
    text-align: center;
    margin: 10px 5px;
}