.ticketList {
    height: fit-content;
    padding: 5px;
    box-shadow: 2px 3px 5px 2.5px lightgrey;
    background: #F0F1F2;
    margin: 25px 0px;
}

.tableRow {
    background: #E3E4E6;
    box-shadow: 1px 2px 4px 2px lightgrey;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: box-shadow .15s;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr auto;
}

.tableRow:hover {
    box-shadow: 1px 1.5px 4px 3px hsla(0, 0%, 78%, 1);
    cursor: pointer;
}

p.tableHeaderText {
    font-weight: bold;
    margin: 0px;
}

p.tableBodyText {
    margin: auto;
}

.rowItem {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.tableHeaderTextContainer {
    margin: 10px 15px;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr auto;
}

.checkTicketSelectedContainer {
    width: 20px;
}

.checkTicketSelected {
    height: 100%;
}

.ticketBtnContainer {
    width: 150px;
    text-align: right;
}

#checkboxSpacer {
    width: 20px;
}

#buttonSpacer {
    width: 150px;
}

.listHeader {
    margin: 0px 5px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

.listHeaderItem {
    display: inline-block;
}

.headerBtnContainer {
    text-align: right;
}

#btnNewTicket {
    display: contents;
    text-align: center;
}

.ticketBtnIcon {
    width: 35px;
    margin: 0px 5px;
    padding: 3px;
    border-radius: 5px;
    transition: box-shadow .25s, background .25s;
}

button {
    display: contents;
}

.ticketBtnIcon:hover {
    background: hsla(220, 6%, 84%, 1);
    box-shadow: 0px 0px 5px 0.5px hsla(220, 6%, 60%, 1);
}

#btnNewTicketIcon {
    width: 50px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow .25s, background .25s;
}

#btnNewTicketIcon:hover {
    background: hsla(210, 7%, 89%, 1);
    box-shadow: 0px 0px 5px 0.5px hsla(220, 6%, 65%, 1);
}