.ticketList {
    height: fit-content;
    padding: 5px;
    box-shadow: 2px 3px 5px 2.5px lightgrey;
    background: #F0F1F2;
    margin: 25px 0px;
}

.tableRow {
    background: #E3E4E6;
    box-shadow: 1px 2px 4px 2px lightgrey;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: box-shadow .15s;
}

.tableRow:hover {
    box-shadow: 1px 1.5px 4px 3px hsla(0, 0%, 78%, 1);
}

p.tableHeaderText {
    display: inline-block;
    font-weight: bold;
    margin: 0px;
}

p.tableBodyText {
    display: inline-block;
    margin: 0px;
}

.tableText {
    width: calc(95% / 5);
}

.tableHeaderTextContainer {
    margin: 5px 15px 0px;
}
