
@{
    ViewData["Title"] = "New Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Ticket</h1>

<div class="ticketCtr" id="ticketCtr">
    <div class="inputContainer">
        <p class="inputLabel">Owner's Name: </p>
        <input class="text-box single-line ownerNameInput"
               type="text" value="">

    </div>
</div>