@model Neumont_Ticketing_System.Views.Settings.AssetDefModel
@{
    ViewData["Title"] = "AssetDef";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/AssetDef.css" rel="stylesheet" type="text/css" />

<h1>Asset Definitions</h1>

<div class="interactiveList" id="typesList">
    <h2 class="interactiveListTitle">Asset Types</h2>
    @for(int i = 0; i < Model.AssetTypes.Count; i++)
    {
        var type = Model.AssetTypes[i];
        <div class="interactiveListItem">
            <div class="inputContainer">
                <p class="inputLabel">Name: </p>
                @Html.EditorFor(model => type.Name, null, $"type{i}_Name")
            </div>
            <div class="inputContainer">
                <p class="inputLabel">Description: </p>
                @Html.EditorFor(model => type.Description, null, $"type{i}_Description")
            </div>
        </div>
    }
</div>

<div class="interactiveList" id="manufacturersList">
    <h2 class="interactiveListTitle">Asset Manufacturers</h2>
    @for (int i = 0; i < Model.AssetManufacturers.Count; i++)
    {
        var mfr = Model.AssetManufacturers[i];
        <div class="interactiveListItem">
            <div class="inputContainer">
                <p class="inputLabel">Name: </p>
                @Html.EditorFor(model => mfr.Name, null, $"mfr{i}_Name")
            </div>
            <div class="inputContainer phoneNumberContainer" id=@($"mfr{i}_PhoneNumbers")>
                <p class="inputLabel">Phone Numbers: </p>
                @for (int j = 0; j <= mfr.PhoneNumbers.Count; j++)
                {
                    if (j >= mfr.PhoneNumbers.Count)
                    {
                        <input class="text-box single-line phoneNumberInput" 
                               id=@($"mfr{i}_PhoneNumbers_{j}")
                               name=@($"mfr{i}.PhoneNumbers[{j}]") type="tel" />
                    }
                    else
                    {
                        <input class="text-box single-line phoneNumberInput" 
                               id=@($"mfr{i}_PhoneNumbers_{j}")
                               name=@($"mfr{i}.PhoneNumbers[{j}]") type="tel" 
                               value=@(mfr.PhoneNumbers[j]) />
                    }
                }
            </div>
            <div class="inputContainer emailAddressContainer" id=@($"mfr{i}_EmailAddresses")>
                <p class="inputLabel">Email addresses: </p>
                @for (int j = 0; j <= mfr.EmailAddresses.Count; j++)
                {
                    if (j >= mfr.EmailAddresses.Count)
                    {
                        <input class="text-box single-line emailAddressInput" 
                               id=@($"mfr{i}_EmailAddresses_{j}")
                               name=@($"mfr{i}.EmailAddresses[{j}]") type="email" />
                    }
                    else
                    {
                        <input class="text-box single-line emailAddressInput" 
                               id=@($"mfr{i}_EmailAddresses_{j}")
                               name=@($"mfr{i}.EmailAddresses[{j}]") type="email" 
                               value=@(mfr.EmailAddresses[j]) />
                    }
                }
            </div>
        </div>
    }
</div>

@section Scripts
{
<script src="~/js/AssetDef.js" type="text/javascript"></script>
}