@model Neumont_Ticketing_System.Views.Settings.AssetManagerModel
@{
    ViewData["Title"] = "Asset Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/js/AssetManager.js" type="text/javascript"></script>
    <script src="~/js/expandableInputList.js" type="text/javascript"></script>
    <script src="~/js/expandableItemList.js" type="text/javascript"></script>
}

<link href="~/css/expandableItemList.css" rel="stylesheet" type="text/css" />
<link href="~/css/AssetManager.css" rel="stylesheet" type="text/css" />

<h1>Asset Manager</h1>

<div class="list" id="ownerList">
    <h2 class="listTitle">Owner and Asset Lookup</h2>
    <div class="searchInputContainer">
        <input class="largeInput" id="searchInput" />
    </div>
    <div class="resultsContainer listItem">
        <div class="table" id="resultTable">
            <div class="tableHeader">
                <p class="tableHeaderText tableText">Owner Name</p>
                <p class="tableHeaderText tableText">Serial Number</p>
                <p class="tableHeaderText tableText">Asset Model</p>
                <p class="tableHeaderText tableText">Asset Type</p>
                <div class="tableHeaderText tableText"></div>
            </div>
        </div>
    </div>
</div>

<div class="hidden" style="display:none">
    <div class="singleResult listSubItem cloneableListItem" id="resultTemplate">
        <span class="spanOwnerName"><p class="resultValueText tableText ownerName">Owner Name</p></span>
        <p class="resultValueText tableText serialNumber">Serial Number</p>
        <p class="resultValueText tableText assetModel">Asset Model</p>
        <p class="resultValueText tableText assetType">Asset Type</p>
        <button class="btnActionOverflow" title="More Actions">
            <img class="btnActionOverflowIcon" src="~/assets/freepik-dot.svg" />
        </button>
    </div>
</div>