
@{
    ViewData["Title"] = "Settings Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Settings Index</h1>

<div class="cardContainer">
    <div class="card" id="assetDefCard" onclick="window.location.href = '/Settings/AssetDefinitions';">
        <p class="cardTitle">Asset Definitions</p>
        <p class="cardDescription">Edit or add new asset type, manufacturer, and model definitions.</p>
    </div>
    <div class="card" id="assetCreatorCard" onclick="window.location.href = '/Settings/AssetCreator;">
        <p class="cardTitle">Owner Creator</p>
        <p class="cardDescription">Create a new owner with new assets.</p>
    </div>
    <div class="card" id="repairDefCard" onclick="window.location.href = '/Settings/NewRepairDefinition;">
        <p class="cardTitle">New Repair Definition</p>
        <p class="cardDescription">Create a new repair definition.</p>
    </div>
    <div class="card" id="assetManCard" onclick="window.location.href = '/Settings/AssetManager;">
        <p class="cardTitle">Asset Manager</p>
        <p class="cardDescription">Search for owners and their assets.</p>
    </div>
</div>