
@{
    ViewData["Title"] = "Settings Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/SettingsIndex.css" rel="stylesheet" type="text/css" />

<h1>Settings</h1>

<div class="cardContainer">
    <div class="linkCard" id="assetDefCard" onclick="window.location.href = '/Settings/AssetDefinitions';">
        <p class="cardTitle">Asset Definitions</p>
        <p class="cardDescription">Edit or add new asset type, manufacturer, and model definitions.</p>
    </div>
    <div class="linkCard" id="assetCreatorCard" onclick="window.location.href = '/Settings/AssetCreator';">
        <p class="cardTitle">Owner Creator</p>
        <p class="cardDescription">Create a new owner with new assets.</p>
    </div>
    <div class="linkCard" id="repairDefCard" onclick="window.location.href = '/Settings/NewRepairDefinition';">
        <p class="cardTitle">New Repair Definition</p>
        <p class="cardDescription">Create a new repair definition.</p>
    </div>
    <div class="linkCard" id="assetManCard" onclick="window.location.href = '/Settings/OwnerManager';">
        <p class="cardTitle">Owner Manager</p>
        <p class="cardDescription">Search for owners and their assets.</p>
    </div>
</div>